@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Juana Manso 1069<br />
    Puerto Madero, C.A.B.A.<br />
    <abbr title="Phone">Tel:</abbr>
    5299-6000
</address>

<address>
    <strong>Nuestro mail de soporte:</strong>   <a href="mailto:Soporet@IMDB².com">Soporte@IMDB².com</a><br />
    <strong>Nuestro mail de marketing:</strong> <a href="mailto:Marketing@IMDB².com">Marketing@IMDB².com</a>
</address>