@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMDB²</h1>
    <p class="lead">Welcome to IMDB²! The <strike>worst</strike> best movie info database! (Series coming soon...)</p>
    <p><a href="https://www.imdb.com/" class="btn btn-info btn-lg">The best option</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
            (Abrief description)
        </p>
        <p><a class="btn btn-success" href="/Movie">To movies!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Series</h2>
        <p>
            (A brief description)
        </p>
        <p><a class="btn btn-danger" href="bungie.net">To Series!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Actors</h2>
        <p>
            (A brief description)
        </p>
        <p><a class="btn btn-warning" href="/Actor">To Actors!</a></p>
    </div>
</div>