@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="../Content/Images/It.jpg" alt="It">
                <div class="carousel-caption">
                    <h3>It (2018)</h3>
                    <p>La razón de que los payasos no sean figuras cómicas</p>
                </div>
            </div>

            <div class="item">
                <img src="../Content/Images/Venom.jpg" alt="Venom">
                <div class="carousel-caption">
                    <h3>Venom</h3>
                    <p>El otro lado de las relaciones simbióticas</p>
                </div>
            </div>

            <div class="item">
                <img src="../Content/Images/Solo.jpg" alt="Solo: a Star Wars story">
                <div class="carousel-caption">
                    <h3>Solo: a Star Wars story</h3>
                    <p>Los inicios de uno de los personajes más queridos del cine</p>
                </div>
            </div>
            <div class="item">
                <img src="../Content/Images/Bohemian Rhapsody.jpg" alt="Bohemian Rhapsody">
                <div class="carousel-caption">
                    <h3>Bohemian Rhapsody</h3>
                    <p>Una de las mejores bandas de la historia, uno de los cantantes más talentosos</p>
                </div>
            </div>
            <div class="item">
                <img src="../Content/Images/Infinity War.jpg" alt="Infinity War">
                <div class="carousel-caption">
                    <h3>Infinity War</h3>
                    <p>La primera parte de la batalla final de tus héroes favoritos</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

    <div class="row">
        <div class="col-md-7">
            <h2>Películas</h2>
            <p>
                Visita nuestra completísima biblioteca de de películas con sus personajes!
            </p>
            <p><a class="btn btn-success" href="/Movie">Ver listado de películas</a></p>
        </div>

        <div class="col-md-4">
            <h2>Actores</h2>
            <p>
                Nuestra lita de actores, completa con los datos de cada uno y sus roles en las películas!
            </p>
            <p><a class="btn btn-warning" href="/Actor">Ver listado de actores!</a></p>
        </div>
    </div>